/* ANIMATION */

@keyframes growthUp{
    from {
        opacity: 0.7;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes growthOver {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(2);
    }
}

@keyframes slideDown {
    from{
        opacity: 0.5;
        transform: scaleY(0);
    }
    to{
        opacity: 1;
        transform: scaleY(1);
    }
}

@keyframes avt-1 {
    0% {visibility: visible;}
    33% {visibility: visible;}
    66% {visibility: hidden;}
    100% {visibility: hidden;}
}
@keyframes avt-2 {
    0% {visibility: hidden;}
    33% {visibility: hidden;}
    66% {visibility: visible;}
    100% {visibility: hidden;}
}
@keyframes avt-3 {
    0% {visibility: hidden;}
    33% {visibility: hidden;}
    66% {visibility: hidden;}
    100% {visibility: visible;}
}

@keyframes slideInLeft{
    from{
        opacity: 0;
        transform: translateX(calc(100% + 32px));
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeOut {
    to{
        opacity: 0;
    }
}

@keyframes fadeIn {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}